<div class="list-group-item d-flex justify-content-between align-items-center mb-1">
  <div class="row justify-content-start">
    <strong>
      <% if asset_exists? "language/#{knowledge_type}/#{knowledge.language.description.downcase}.png" %>
        <%= image_tag "language/#{knowledge_type}/#{knowledge.language.description.downcase}.png", size: "20x20" %>
        <%= knowledge.language.description %>
      <% else %>
        <%= image_tag "language/empty.png", size: "20x20" %>
        <%= knowledge.language.description %>
      <% end %>
    </strong>
  </div>
  <div class="row justify-content-start">
    <span class="badge badge-primary badge-pill"><%= knowledge.level %>º nível</span>
  </div>
</div>