<div class="bg-perfil">
</div>
<div class="container profile">
  <div class="center-block">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 text-center">
          <h3 class="text-light">Iniciado</h3>
          <% Profile.evaluation(evaluation_type: :started, limit: 10).each_with_index do |profile, index| %>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <button type="button" class="btn btn-primary">
                <span class="badge"><h3><%= index + 1 %>ยบ</h3></span>
              </button>
              <div class="justify-content-between">
                <% if profile.user.avatar %>
                  <%= link_to user_path(profile.user.login) do %>
                    <%= image_tag profile.user.avatar, size: "150x150", class: "profile-image" %>
                  <% end %>
                <% end %>
                <h5 class="mb-1"><%= link_to "@#{profile.user.login}", "https://github.com/#{profile.user.login}", target: "_blank" %></h5>

                <%= link_to user_path(profile.user.login) do %>
                  <% if profile %>
                    <span class="btn btn-primary"><%= profile.score.to_i %> xp</span>
                  <% else %>
                    <span class="btn btn-primary">?</span>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
        <div class="col-md-4 text-center">
          <h3 class="text-light">Aprendiz</h3>
          <% Profile.evaluation(evaluation_type: :novice, limit: 10).each_with_index do |profile, index| %>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <button type="button" class="btn btn-primary">
                <span class="badge"><h3><%= index + 1 %>ยบ</h3></span>
              </button>
              <div class="justify-content-between">
                <% if profile.user.avatar %>
                  <%= link_to user_path(profile.user.login) do %>
                    <%= image_tag profile.user.avatar, size: "150x150", class: "profile-image" %>
                  <% end %>
                <% end %>
                <h5 class="mb-1"><%= link_to "@#{profile.user.login}", "https://github.com/#{profile.user.login}", target: "_blank" %></h5>
                <%= link_to user_path(profile.user.login) do %>
                  <% if profile %>
                    <span class="btn btn-primary"><%= profile.score.to_i %> xp</span>
                  <% else %>
                    <span class="btn btn-primary">?</span>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
        <div class="col-md-4 text-center">
          <h3 class="text-light">Cavaleiro</h3>
          <% Profile.evaluation(evaluation_type: :knight, limit: 10).each_with_index do |profile, index| %>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <button type="button" class="btn btn-primary">
                <span class="badge"><h3><%= index + 1 %>ยบ</h3></span>
              </button>
              <div class="justify-content-between">
                <% if profile.user.avatar %>
                  <%= link_to user_path(profile.user.login) do %>
                    <%= image_tag profile.user.avatar, size: "150x150", class: "profile-image" %>
                  <% end %>
                <% end %>
                <h5 class="mb-1"><%= link_to "@#{profile.user.login}", "https://github.com/#{profile.user.login}", target: "_blank" %></h5>
                <%= link_to user_path(profile.user.login) do %>
                  <% if profile %>
                    <span class="btn btn-primary"><%= profile.score.to_i %> xp</span>
                  <% else %>
                    <span class="btn btn-primary">?</span>
                  <% end %>
                <% end %>
              </div>
            </div>
            <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
