<div class="container profile">
  <div class="center-block">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 text-center">
          <h3 class="text-default text-uppercase text-uppercase">top 10 iniciados</h3>
          <h3 class="text-info text-uppercase text-uppercase"><%= link_to "Veja Todos", starteds_path, class: "btn btn-info" %></h3>
          <% Profile.evaluation(evaluation_type: :started, limit: 10).each_with_index do |profile, index| %>
            <%= render 'user_ranking', profile: profile, index: index %>
          <% end %>
          <h3 class="text-info text-uppercase text-uppercase"><%= link_to "Veja Todos", starteds_path, class: "btn btn-info" %></h3>
        </div>
        <div class="col-md-4 text-center">
          <h3 class="text-default text-uppercase text-uppercase">top 10 aprendizes</h3>
          <h3 class="text-light text-uppercase text-uppercase"><%= link_to "Veja Todos", novices_path, class: "btn btn-info" %></h3>
          <% Profile.evaluation(evaluation_type: :novice, limit: 10).each_with_index do |profile, index| %>
            <%= render 'user_ranking', profile: profile, index: index %>
          <% end %>
          <h3 class="text-light text-uppercase text-uppercase"><%= link_to "Veja Todos", novices_path, class: "btn btn-info" %></h3>
        </div>
        <div class="col-md-4 text-center">
          <h3 class="text-default text-uppercase text-uppercase">top 10 cavaleiros</h3>
          <h3 class="text-light text-uppercase text-uppercase"><%= link_to "Veja Todos", knights_path, class: "btn btn-info" %></h3>
          <% Profile.evaluation(evaluation_type: :knight, limit: 10).each_with_index do |profile, index| %>
            <%= render 'user_ranking', profile: profile, index: index %>
          <% end %>
          <h3 class="text-light text-uppercase text-uppercase"><%= link_to "Veja Todos", knights_path, class: "btn btn-info" %></h3>
        </div>
      </div>
    </div>
  </div>
</div>
