<div class="container container-intests-new mt-5">
  <div class="col-md-12">
    <div class="card card-signin">

      <%= render 'call_to_actions/login_github', message: "Acesse e Analise suas Experiências e Habilidades" %>

      <hr class="featurette-divider">

      <%= render 'visits/objetivo' %>

      <hr class="featurette-divider">

      <div class="row">
        <div class="col-md-4 text-center">
          <h4>
            <%= link_to rankings_path do %>
              <i class="fas fa-sort-numeric-up"></i> Rankings
            <% end %>
          </h4>
          <p>Descubra quem são os mais experiêncies na plataforma.</p>
        </div>
        <div class="col-md-4 text-center">
          <h4>
            <%= link_to profiles_path do %>
              <i class="fas fa-sort-numeric-up"></i> Perfis
            <% end %>
          </h4>
          <p>Analise todos os perfis para conhecer o nível do mercado.</p>
        </div>
        <div class="col-md-4 text-center">
          <h4>
            <%= link_to knowledges_path do %>
              <i class="fas fa-sort-numeric-up"></i> Conhecimentos
            <% end %>
          </h4>
          <p>Confira todos conhecimentos ofertados e seus níveis.</p>
        </div>
      </div>

      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-12 text-center">
          <h1 class="featurette-heading text-uppercase">veja quantos estão acelerando!</h1>
          <div class="counter">
            <i class="fa fa-coffee fa-4x"></i>
            <h3 class="timer count-title count-number"><%= Profile.count %></h3>
            <h3 class="count-text text-uppercase">usuários</h3>
          </div>
        </div>
      </div>
      <hr class="featurette-divider">

      <div class="col-md-12 text-center">
        <%= link_to "Entenda o Jogo e as Regras", rule_path, class: "btn btn-lg btn-info text-uppercase", target: "_blank" %>
      </div>
    </div>
  </div>
</div>