<div class="container container-intests-new">
  <div class="col-md-12 text-center">
    <div class="h2 text-default text-uppercase">
      <i class="fas fa-cloud-download-alt"></i> regra para reimportação
    </div>
  </div>
  <div class="center-block">
    <div class="card card-signin">
      <div class="row">
        <div class="col-md-12 text-center">
        </div>

        <div class="col-md-12 justify-content-center">
          <p>Olá <strong><%= current_user.name %></strong>, tudo bem?</p>
          <p>Para reimportar certifique-se de que fez alguma evolução em seu portfólio.</p>
          <p>
            Segue algumas dicas para facilitar sua evolução e aumentar a quatilidade do portfólio:
          </p>

          <ul>
            <li>Crie Milestones</li>
            <li>Crie Issues</li>
            <li>Crie Pull Requests</li>
            <li>Crie Tags</li>
            <li>Atualize o Readme.mb</li>
            <li>Atualize a Wiki</li>
          </ul>
          <p>Essa dicas são para lhe colocar mais próximo do dia de uma empresa.</p>
          <p>Para o seu perfil <strong><%= current_user.profile.level %></strong> recomendo trabalhar nesses projetos:
          </p>
          <ul>
            <% current_user.profile.repositories_to_work.each do |repository| %>
              <li><%= link_to repository.name, "https://github.com/#{repository.user.login}/#{repository.name}", target: "_blank"
              %></li>
            <% end %>
          </ul>
          <p>Se preferir pode começar outro do zero sem problema.</p>
          <p>Como sei que é bastante trabalho vou aguardar você adicionar alguma evolução nos projetos.</p>
          <p>Volte em aproximadamente <strong><%= waiting_time %> horas</strong>, ou seja reimporte novamente no
            <strong> dia <%= l(current_user.minimum_evaluation_period, format: :day) %></strong></p>
          <p>Bom trabalho, guerreiro.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-12 text-center mt-2">
  <%= link_to "Dúvidas, Críticas e Sugestões", new_contact_path, class: "btn btn-lg btn-primary" %>
</div>