<div class="container container-intests-new">
  <div class="center-block">
    <div class="col-md-12 mx-auto">
      <div class="card card-signin">
        <div class="col-md-12 mx-auto">
          <%= search_form_for @q, class: "simple_form form-inline" do |f| %>
            <div class="row">
              <%= f.search_field :name_cont, placeholder: "Nome", class: "form-control mr-2" %>
              <%= f.select :technologies_language_description_eq, options_from_collection_for_select(Language.joins(knowledges: [profile: :user]).where("users.id = ?", current_user.id), "description", "description", @q.principal_technology_eq), {:include_blank => true}, class: "form-control mr-2" %>
              <%= f.submit "Pesquisar", class: "form-control mr-2 btn btn-success" %>
              <%= link_to "Cancelar", request.path, class: "form-control mr-2 btn btn-info" %>
            </div>
          <% end %>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row justify-content-center">
        <%= paginate @repositories %>
      </div>
      <div class="row justify-content-center">
        <%= page_entries_info @repositories %>
      </div>
      <div class="row">
        <% @repositories.order(commits_count: :desc).each do |repository| %>
          <div class="col-md-6 text-center">
            <%#= link_to repository_path(repository.name) do %>
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">
                  <%= repository.name %>
                </h5>
                <small><%= repository.commits_count.to_i %> <%= repository.commits_count.to_i == 1 ? "commit" : "commits" %></small>
              </div>
              <p class="mb-1">
                <% if asset_exists? "language/#{knowledge_type(repository.principal_technology)}/#{repository.principal_technology.to_s.downcase}.png" %>
                  <%= image_tag "language/#{knowledge_type(repository.principal_technology)}/#{repository.principal_technology.to_s.downcase}.png", size: "30x30" %>
                <% else %>
                  <%= image_tag "language/empty.png", size: "30x30" %>
                <% end %>
                <%= repository.principal_technology.to_s %>
              </p>
              <small class="text-success"><%= repository.technologies.joins(:language).order(exercise: :desc).pluck("languages.description").join(", ") %></small>
            </div>
            <%# end %>
            <br>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <%= paginate @repositories %>
      </div>
    </div>
  </div>
</div>