<main role="main">

  <div class="carousel-container" id="carousel-container">
    <div id="myCarousel" class="carousel slide container" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Entenda suas Habilidades</h1>
              <p>Entenda as habilidades que você possui utilizando nossa inteligência artificial.</p>
              <p><%= link_to "Saiba Mais", new_user_path, class: "btn btn-lg btn-primary" %></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Entenda as Mudanças</h1>
              <p>Entenda o contexto das tecnologias nas novas empresas de TI.o</p>
              <p><%= link_to "Acesse Agora", new_interest_path, class: "btn btn-lg btn-primary" %></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>


  <div class="container marketing">


    <div class="row">
      <div class="col-lg-4">
        <%= icon('fas', 'chart-pie', class: "icone") %>
        <h2>Se Conheça</h2>
        <p>Entenda as habilidades que você possui utilizando nossa inteligência artificial.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= icon('fas', 'chart-area', class: "icone") %>
        <h2>Conheça o Mercado</h2>
        <p>Entenda o contexto das tecnologias nas novas empresas de TI.</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= icon('fas', 'brain', class: "icone") %>
        <h2>Se Prepare</h2>
        <p>Trilhe seus planejamento para se tornar um profissional do novo mercado.</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Se Conheça</h2>
        <p class="lead">Anualmente se formam nas faculdades brasileiras mais de 77 mil alunos nos cursos da área de
          tecnologia da informação, porém somente 33% (26 mil)
          encontram trabalho no setor.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "se-conheca.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Conheça o Mercado</h2>
        <p class="lead">No Brasil existem mais de 19,5 mil empresas no setor de software e serviço de TI. Desse total
          12,7 mil são startups, sendo que 9 já se tornaram unicórnios.</p>

      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "conheca-o-mercado.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Se Prepare</h2>
        <p class="lead">Com o autoconhecimento, conhecimento do mercado e um bom planejamento você será capaz de
          trabalhar em qualquer empresa, startup ou até mesmo cria a sua.</p>
      </div>
      <div class="col-md-5">
        <%= image_tag "se-prepare.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12 order-md-2 text-center">
        <h2 class="featurette-heading">Analise seu Perfil e Se Conheça Agora</h2>
        <p><%= link_to "Clique Aqui", new_user_path, class: "btn btn-lg btn-primary" %></p>
      </div>
    </div>
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS('carousel-container', {
        "particles": {
            "number": {
                "value": 38,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 3.1565905665290903,
                "direction": "none",
                "random": true,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>