<main role="main">

  <div class="carousel-container" id="carousel-container">
    <div id="myCarousel" class="carousel slide container" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption">
              <h3>Hello Desenvolvedor, </h3>
              <h2>Quer Melhorar Suas Habilidades?</h2>
              <p>Entenda a Oferta do Mercado e Acelere sua Carreira</p>
              <p><%= link_to "Saiba Mais", analyze_path, class: "btn btn-lg btn-primary text-uppercase" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container marketing">

    <%= render 'objetivo' %>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-uppercase">Os 3 Passos Para Acelerar na Carreira</h2>
      </div>
      <div class="col-lg-4">
        <%= icon('fas', 'wrench', class: "icone") %>
        <h2>Escolha a Linguagem</h2>
        <p>Experimente <strong>JavaScript</strong>, <strong>PHP</strong>, <strong>Ruby</strong>, <strong>Python</strong>,
          <strong>Java</strong> ou <strong>C#</strong>, entenda seu ecossistemas e faça sua escolha.</p>
      </div>
      <div class="col-lg-4">
        <%= icon('fas', 'screwdriver', class: "icone") %>
        <h2>Escolha o Framework Web</h2>
        <p>Pesquise a <strong>aceitação do mercado</strong>, o <strong>tamanho da comunidade</strong> e o
          <strong>frequência das atualizações</strong>.</p>
      </div>
      <div class="col-lg-4">
        <%= icon('fas', 'brain', class: "icone") %>
        <h2>Acelere a Carreira</h2>
        <p>Use <strong>ferramentas</strong> e <strong>metodologias</strong> para reduzir a
          curva de aprendizagem e aumentar a produtividade.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to analyze_path, class: 'nav-link' do %>
          <div class="btn btn-primary btn-lg text-uppercase">entenda seu momento</div>
        <% end %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-uppercase">Escolha a Linguagem</h2>
        <p class="text-justify">
          Nesse momento o mais importante é começar. Escolha uma linguagem de programação e pratique:
        </p>
        <ul>
          <li>Populares</li>
          <ul>
            <li><strong>JavaScript</strong></li>
            <li><strong>PHP</strong></li>
          </ul>
          <li>Enterprises</li>
          <ul>
            <li><strong>Java</strong></li>
            <li><strong>C#</strong></li>
          </ul>
          <li>Nichos</li>
          <ul>
            <li><strong>Ruby</strong></li>
            <li><strong>Python</strong></li>
          </ul>
        </ul>
        <code>
          Dica: Não perca muito tempo estudando teoria, estudo por no máximo 1 mês ou 40 horas e vá para o campo de
          batalha. Agora estude os problemas que encontra com a tecnologia.
        </code>
      </div>
      <div class="col-md-5">
        <%= image_tag "escolha-a-linguagem.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle" %>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-uppercase">Escolha o Framework Web</h2>
        <p class="text-justify">
          Agora é hora de pensar no mercado presente e futuro, entender o que as empresas atuais e o que as empresas
          novas necessitam.
        </p>
        <p>
          Uma forma interessante é entender quais são as stack de tecnologias que são usadas em tipos de empresas, pois
          novos frameworks nascem a cada momento.
        </p>
        <p>
          Existe um site muito interessante para acompanhar essa stacks
          <a href="https://stackshare.io/stacks">Stackshare</a>.
        </p>
        <p>Veja alguns dos framework mais populares por linguagem:</p>
        <ul>
          <li>JavaScript</li>
          <ul>
            <li><strong>Express (Backend)</strong></li>
            <li><strong>React JS (Frontend)</strong></li>
          </ul>
          <li>PHP</li>
          <ul>
            <li><strong>Laravel</strong></li>
          </ul>
          <li>Java</li>
          <ul>
            <li><strong>Spring</strong></li>
          </ul>
          <li>C#</li>
          <ul>
            <li><strong>DotNet</strong></li>
          </ul>
          <li>Ruby</li>
          <ul>
            <li><strong>Ruby on Rails</strong></li>
          </ul>
          <li>Python</li>
          <ul>
            <li><strong>Djang</strong></li>
          </ul>
        </ul>
        <code>Dica: Não perca muito tempo estudando teoria, estude por no máximo 2 meses ou 80 horas e vá para prática.
          Escolha um problema, mesmo que pequeno, e suba em um servidor (grátis) a solução. Exemplo de servidor:
          <a href="https://www.heroku.com/pricing">Heroku</a>,
          <a href="https://azure.microsoft.com/pt-br/free/">Azure</a>
          ou
          <a href="https://aws.amazon.com/pt/free/?all-free-tier.sort-by=item.additionalFields.SortRank&all-free-tier.sort-order=asc&awsf.Free%20Tier%20Types=tier%2312monthsfree">AWS</a>.
          Agora estude os problemas que encontra com a tecnologia.
        </code>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "escolha-o-framework.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle" %>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-uppercase">Acelere a Carreira</h2>
        <p class="text-justify">
          Entender, no menor tempo possível, <strong>o que é que se pode entregar</strong> com as tecnologias aprendidas
          é o
          mais importante para o mercado.
          <br>
          <br>
          O mercado não se importa muito com qual linguagem ou framework é a melhor, já que
          <strong>o importante é saber em quanto tempo uma solução consegue ser entrege e em qual qualidade</strong>.
          <br>
          <br>
          É muito importante ter ferramentas e metodologias para
          <strong>acelerar seu apredizado e aumentar sua produtividade</strong>.
          <br><br>
          Seque um exemplo do que seria a ferramenta e metodologia comparando que o problema de dirigir, ou
          seja <strong>sair do ponto A e chegar ao ponto B</strong>:
        <ul>
          <li>
            <strong>Ferramentas</strong>
            <ul>
              <li>Gol 1.0</li>
              <li>HB20 1.6</li>
              <li>Civic 2.0</li>
            </ul>
          </li>
          <li>
            <strong>Metodologias</strong>
            <ul>
              <li>Motorista Comum</li>
              <li>Taxista</li>
              <li>Caminhoneiro</li>
              <li>Piloto de Corrida</li>
            </ul>
          </li>
        </ul>
        Como pode perceber todos levam do ponto A ao ponto B. Qual o melhor? Isso irá depender de vários fatores, pois
        cada um tem suas vantagens e desvantagens dependendo de cada cenário.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "acelere-o-apredizado.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="text-uppercase">o mercado está mudando</h2>
      </div>
    </div>
    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-uppercase">O Mercado Hoje</h2>
        <p class="text-justify">
          Sabia que anualmente formam-se, nas faculdades brasileiras, mais de 77 mil alunos nos cursos
          da área de tecnologia da informação, <strong>porém somente 33% (26 mil) encontram trabalho no setor</strong>.
          <br>
          <br>
          Isso acontece principalmente por falta de conhecimento do mercado e a culpa não é do aluno, mas sim das
          <strong>faculdades que não preparam os alunos para atender as demandas do mercado</strong>, as faculdades hoje
          lutam para não trocar o Pascal e C, por Javascript e Python.
          <br>
          <br>
          Ao <strong>conhecer-se permitirá tornar a entrada no mercado mais proativo e objetivo</strong> e não
          simplesmente esperar ser chamado com envio de currículo.
          <br>
          <br>
          Atualmente existem mais de 19,5 mil empresas no setor de tecnologia brasileiro, <strong>onde 5,1 mil
          atuam no desenvolvimento de software, sendo 95% composto por micros e pequenas empresas</strong>.
          <br>
          <br>
          O mais curioso é que no mercado de hoje
          <strong> a cada dia nascem novas empresas com DNA de TI, as famosas startups, e nos dias de hoje já existem
            mais 12 mil no Brasil (<a href="https://startupbase.com.br/home">fonte</a>)</strong>, sendo que 9 já
          ultrapassaram os $1bi e se tornaram os primeiros unicórnios brasileiros.
          <br>
          <br>
          Essa mudança no mercado nacional ocorre, pois já foi percebido que sem a TI no core business a empresa na
          escala rápido Assim,
          <strong>a tendência é que diminua drasticamente o número de empresas no setor de tecnologia focadas
            em desenvolvimento de software</strong>. Devido o mercado perceber o quanto a TI é estratégica para o
          negócio e que é um risco a terceirização.
          <br>
          <br>
          Saiba que esse <strong>novo mercado é muito exigente na qualidade dos profissionais de TI</strong>. E essa
          exigência não é somente técnico, onde saber muito Javascript, Java, PHP, C#, Python ou Ruby, torna um
          profissional qualificado.
          <br>
          <br>
          Para essas novas empresas, o profissional de TI, além do conhecimento Técnico (tecnologias em
          geral) <strong>é um grande diferencial entender de Negócio, de Venda e de Gestão</strong>, pois as conversas
          sobre as demandas não são simples, e requer precisão e velocidade no entendimento para a mudança.
          <br>
          <br>
          Lembrando que,
          <strong>entender dessas outras área não significa ter um MBA ou 10 anos de experiência em cada uma
            área</strong>. É simplesmente partipar de reuniões e conseguir colaborar com sua visão de tecnologia sobre
          um problema de Negócio, de Venda ou de Gestão, ou seja é saber que cada linha de código tem um porque maior.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "conheca-o-mercado.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12 text-center">
        <%= render 'quantos_aceleram' %>
        <p><%= link_to "entenda seu momento", analyze_path, class: "btn btn-lg btn-primary text-uppercase" %></p>
      </div>
    </div>

  </div>
</main>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS('carousel-container', {
        "particles": {
            "number": {
                "value": 38,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 3.1565905665290903,
                "direction": "none",
                "random": true,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>