<main role="main">

  <div class="carousel-container" id="carousel-container">
    <div id="myCarousel" class="carousel slide container" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Conhece suas Habilidades?</h1>
              <p>Conhecer suas habilidades é o 1º passo para o sucesso.</p>
              <p><%= link_to "Saiba Mais", new_user_path, class: "btn btn-lg btn-primary text-uppercase" %></p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="carousel-caption">
              <h1>Conhece o Mercado?</h1>
              <p>Conhecer o mercado onde que trabalhar é o 2º passo para o sucesso.</p>
              <p><%= link_to "Saiba Mais", new_interest_path, class: "btn btn-lg btn-primary text-uppercase" %></p>
            </div>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Anterior</span>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Próximo</span>
      </a>
    </div>
  </div>

  <div class="container marketing">

    <div class="row">
      <div class="col-lg-4">
        <%= icon('fas', 'chart-pie', class: "icone") %>
        <h2>Conheça-se</h2>
        <p>Quais tecnologias mais conhece?</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= icon('fas', 'chart-area', class: "icone") %>
        <h2>Conheça o Mercado</h2>
        <p>Quais tecnologias são mais solicitadas no mercado onde quer trabalhar?</p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <%= icon('fas', 'brain', class: "icone") %>
        <h2>Prepara-se</h2>
        <p>Qual o seu planejamento para o próximo ano?</p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->


    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-12 text-center">
        <%= link_to new_user_path, class: 'nav-link' do %>
          <div class="btn btn-primary btn-lg text-uppercase">Conheça-se Agora</div>
        <% end %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-uppercase">Conheça-se</h2>
        <p class="text-justify">
          Anualmente se formam, nas faculdades brasileiras, mais de 77 mil alunos nos cursos
          da área de tecnologia da informação, porém somente 33% (26 mil) encontram trabalho no setor.
          <br>
          Isso acontece por falta de conhecimento do mercado.
          <br>
          Ao <strong>autoconhecer-se</strong> e entender as demandas do mercado os profissionais poderiam se
          preparar mais objetivamente para uma vaga e não simplesmente esperar ser chamado para uma vaga.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "se-conheca.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-uppercase">Conheça o Mercado</h2>
        <p class="text-justify">
          No Brasil existem mais de 19,5 mil empresas no setor de tecnologia, onde 5,1 mil
          atuam no desenvolvimento de software.
          <br>
          Um fato curioso é cada dia nascem novas startups e hoje já existem 12,7 mil no Brasil, dessas 9 já se tornaram
          unicórnios.
          <br>
          A tendência é que diminua drasticamente o número de empresas no setor de tecnologia, pois cada dia o mercado
          percebe o quanto a TI é fundamental para o negócio, tornando um risco a terceirização.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "conheca-o-mercado.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading text-uppercase">Prepara-se</h2>
        <p class="text-justify">
          O mercado está cada vez mais exigente com a qualidade dos profissionais de TI. E
          essa exigência não é somente saber React, Javascript, Java, Python e etc.
          <br>
          Hoje o profissional de TI além do conhecimento Técnico (tecnologias em geral) é um grande diferencial entender
          do Negócio e da Gestão.
          <br>
          E para torna-se esse profissional desejado pelo novo mercado, basta 3 coisas:
          Autoconhecimento, Conhecimento do Mercado e Planejamento.
        </p>
      </div>
      <div class="col-md-5">
        <%= image_tag "se-prepare.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" %>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12 text-center">
        <h1 class="featurette-heading">Conheça-se Agora</h1>
        <p class="lead">
          Com o Autoconhecimento, Conhecimento do Mercado e Planejamento é possível trabalhar em qualquer empresa
          ou startup.
        </p>
        <p class="lead">
          E até mesmo criar a sua startup.
        </p>
        <p class="lead">
          E lhe garanto é mais simples do que tornar-se um verdadeiro Full Stack Developer.
        </p>
        <p><%= link_to "Clique Aqui", new_user_path, class: "btn btn-lg btn-primary text-uppercase" %></p>
      </div>
    </div>
    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->
</main>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script>
    particlesJS('carousel-container', {
        "particles": {
            "number": {
                "value": 38,
                "density": {
                    "enable": true,
                    "value_area": 800
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 3.1565905665290903,
                "direction": "none",
                "random": true,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "repulse"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 400,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>