<main role="main">

  <div class="carousel-container" id="carousel-container">
    <div id="myCarousel" class="carousel slide container" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="carousel-caption">
              <h1>Eae Dev, blz? </h1>
              <p>Comece a medir sua evolução <strong>como em um Game RPG para se tornar um Dev10x</strong>.</p>
              <p><%= link_to "Saiba Mais", analyze_path, class: "btn btn-lg btn-primary text-uppercase" %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container marketing">

    <%= render 'objetivo' %>

    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>A Jornada</h1>
        <div class='embed-container'>
          <iframe width="1100" height="600" src="https://www.youtube.com/embed/9XAxSrlKaa4?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>

    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Os 3 Fundamentos para Evolução</h1>
      </div>
      <div class="col-lg-4">
        <%= image_tag('study', class: "icone") %>
        <h2>Estudar</h2>
        <p>O estudo atravéz das <strong>leituras e vídeos se adquire muita informação</strong> e isso é o início de toda
          evolução.</p>
      </div>
      <div class="col-lg-4">
        <%= image_tag('training', class: "icone") %>
        <h2>Treinar</h2>
        <p>O treino <strong>com foco e disciplina</strong> toda informação cria raiz e se transforma em conhecimento.
        </p>
      </div>
      <div class="col-lg-4">
        <%= image_tag('practice', class: "icone") %>
        <h2>Executar</h2>
        <p>A execução com uma base de <strong>conhecimentos, ferramentas e metodologias</strong> a produtividade evolui.
        </p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-12 text-center">
        <%= render 'quantos_aceleram' %>
        <p><%= link_to "Entenda seu nível", analyze_path, class: "btn btn-lg btn-primary" %></p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row">
      <div class="col-md-12 text-center">
        <h1>O mercado está mudando</h1>
      </div>
    </div>

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">O Mercado Hoje</h2>
        <p class="text-justify">
          Saiba que anualmente formam-se, nas faculdades brasileiras, mais de 77 mil alunos nos cursos
          da área de tecnologia da informação, <strong>porém somente 33% (26 mil) encontram trabalho no setor</strong>.
          <br>
          <br>
          Isso acontece principalmente por falta de conhecimento do mercado e a culpa não é do aluno, mas sim das
          <strong>faculdades que não preparam os alunos para atender as demandas do mercado</strong>, as faculdades hoje
          lutam para não trocar o Pascal e C, por Javascript e Python.
          <br>
          <br>
          Ao <strong>conhecer-se permitirá tornar a entrada no mercado mais proativo e objetivo</strong> e não
          simplesmente esperar ser chamado com envio de currículo.
          <br>
          <br>
          Atualmente existem mais de 19,5 mil empresas no setor de tecnologia brasileiro, <strong>onde 5,1 mil
          atuam no desenvolvimento de software, sendo 95% composto por micros e pequenas empresas</strong>.
          <br>
          <br>
          O mais curioso é que no mercado de hoje
          <strong> a cada dia nascem novas empresas com DNA de TI, as famosas startups, e nos dias de hoje já existem
            mais 12 mil no Brasil (<a href="https://startupbase.com.br/home">fonte</a>)</strong>, sendo que 9 já
          ultrapassaram os $1bi e se tornaram os primeiros unicórnios brasileiros.
          <br>
          <br>
          Essa mudança no mercado nacional ocorre, pois já foi percebido que sem a TI no Core Business permite a empresa
          escalar rápido. Assim,
          <strong>a tendência é que diminua drasticamente o número de empresas no setor de tecnologia focadas
            em desenvolvimento de software</strong>. Devido o mercado perceber o quanto a TI é estratégica para o
          negócio e que é um risco a terceirização.
          <br>
          <br>
          Com essa mudança esse
          <strong>novo mercado se torna muito exigente na qualidade dos profissionais de TI</strong>. E essa
          exigência não é somente técnico, onde conhecer somente linguagens de programação e frameworks, torna um
          profissional qualificado.
          <br>
          <br>
          Para essas novas empresas, o profissional de TI, além do conhecimento Técnico (tecnologias em
          geral) <strong>é um grande diferencial entender de Negócio, de Venda e de Gestão</strong>, pois as conversas
          sobre as demandas não são simples, e requer precisão e velocidade no entendimento para a mudança.
          <br>
          <br>
          Lembrando que,
          <strong>entender dessas outras área não significa ter um MBA ou 10 anos de experiência em cada uma
            área</strong>. É simplesmente partipar de reuniões e conseguir colaborar com sua visão de tecnologia sobre
          um problema de Negócio, de Venda ou de Gestão, ou seja é saber que cada linha de código tem um porque maior.
          <br>
          <br>
          Em resumo, conhecer as tecnologias é importante, porém <strong>boas práticas com o foco no produtividade é o que torna
          um Desenvolvedor eficiente e eficaz</strong>. Esse é o rumo seguindo por Dev10x.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <%= image_tag "conheca-o-mercado.jpg", size: "500x500", class: "bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto rounded-circle" %>
      </div>
    </div>

  </div>
</main>
