<div class="bg-perfil">
</div>
<div class="container profile">
  <div class="center-block">
    <div class="col-md-12">
      <div class="row">
        <% @users.joins(:profile).order('profiles.score DESC').order('users.login DESC').each do |user| %>
          <div class="col-lg-3 col-md-4 text-center">
            <div class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="justify-content-between">

                <% if user.avatar %>
                  <%= link_to user_path(user.login) do %>
                    <%= image_tag user.avatar, size: "150x150", class: "profile-image" %>
                  <% end %>
                <% end %>
                <h5 class="mb-1"><%= link_to "@#{user.login}", "https://github.com/#{user.login}", target: "_blank" %></h5>

                <%= link_to user_path(user.login) do %>
                  <% if user.profile %>
                    <span class="score-value btn btn-info"><%= user.profile.score %></span>
                  <% else %>
                    <span class="score-value btn btn-info">?</span>
                  <% end %>
                <% end %>
                <% if user.profile.try(:evaluation) %>
                  <h4 class="mb-1"><%= enum_i18n(Evaluation, "evaluation_type", user.profile.try(:evaluation).try(:evaluation_type)) %></h4>
                  <h6 class="mb-1"><%= "#{user.profile.try(:evaluation).try(:level)}º nível" %></h6>
                <% else %>
                  <h5 class="mb-1">? (?º nível)</h5>
                <% end %>
              </div>
            </div>
          </div>
          <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
