<div class="container container-intests-new mt-5">
  <div class="col-md-12">
    <div class="card card-signin">
      <%= render 'call_to_actions/login_github', message: "Acesse e Analise suas Experiências e Habilidades" %>

      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-uppercase">Acesse</h2>
        </div>
        <div class="col-md-4">
          <h6> <%= link_to rankings_path do %>
              <i class="fas fa-sort-numeric-up"> Rankings</i>
            <% end %></h6>
          <p>Veja os melhores colocados por tipo de avaliação.</p>
        </div>
        <div class="col-md-4">
          <h6>
            <%= link_to new_profiles_path do %>
              <i class="fas fa-users"> Perfis</i>
            <% end %></h6>
          <p>Analise todos os perfis para conhecer o nível do mercado.</p>
        </div>
        <div class="col-md-4">
          <h6> <%= link_to knowledges_path do %>
              <i class="fas fa-file-code"> Conhecimentos</i>
            <% end %></h6>
          <p>Confira todos conhecimentos ofertados e seus níveis.</p>
        </div>
      </div>

      <hr class="my-4">

      <div class="col-md-12 text-center">
        <%= link_to "Entenda o Jogo e as Regras", rule_user_path, class: "btn btn-info text-uppercase", target: "_blank" %>
      </div>
    </div>
  </div>
</div>