<div class="row justify-content-md-center">
  <div class="text-center">
    <div class="card card-register">
      <h3 class="title mx-auto">Avaliação</h3>
      <p>Enviaremos sua avaliação no email informado.</p>
      <br>
      <%= simple_form_for @user, defaults: {input_html: {class: 'avaliacao-form'}} do |f| %>
        <%= f.input :login, label: "GitHub", input_html: {class: 'form-control'} %>
        <%= f.input :email, label: "Email", input_html: { autocomplete: 'email' } %>
        <%= f.input :office, label: "Tecnologia", collection: User.offices.keys, input_html: {class: 'form-control'} %>
        <%= f.button :submit, "Avaliar", class: "btn btn-info btn-block btn-round" %>
      <% end %>
      <br />
      <%= link_to "Sem Github?", new_interest_path, class: "btn" %>
    </div>
  </div>
</div>
