<div class="container container-intests-new">
  <div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
      <div class="">
        <div class="text-center">
          <h1>Se Conhecer</h1>
        </div>
        <h2 class="text-capitalize">
          O que é se conhecer?
        </h2>
        <div class="text-justify">
          <p>Em resumo é saber suas <strong>forças e fraquezas</strong>, ou seja
            <strong>em qual tecnologia tenho mais conhecimento</strong> e
            <strong>menos conhecimento</strong>.</p>
        </div>
        <div class="text-center">
          <%= image_tag "swot.jpg", size: "300x300", class: "img-fluid" %>
        </div>
        <h2 class="text-capitalize">
          Como vamos análisar?
        </h2>
        <div class="text-justify">
          <p>Se imagine em um jogo de RPG, onde <strong>quanto mais joga (pratica) mais evolui</strong>.</p>
        </div>
        <div class="text-center">
          <%= image_tag "rpg.jpg", size: "300x300", class: "img-fluid" %>
        </div>
        <div class="text-justify">
          <p>Nosso objetivo é traduzir isso área de TI e suas tecnologias.</p>
        </div>
        <h2 class="text-capitalize">
          Como será na prática?
        </h2>
        <ol>
          <li>Com o seu login do Github:</li>
          <li>Vamos buscar as informações públicas.</li>
          <li>Vamos calcular quanto praticou, por:
            <ul>
              <li>Projetos</li>
              <ul>
                <li>Linguagens</li>
                <li>Tecnologias</li>
              </ul>
            </ul>
          </li>
          <li>
            Vamos definir níveis, por:
            <ul>
              <li>
                Perfil:
                <ul>
                  <li>Nível de 1 a 10 para:
                    <ul>
                      <li><%= image_tag "evaluation/started.png", size: "20x20" %>Iniciado</li>
                      <li><%= image_tag "evaluation/novice.png", size: "20x20" %>Aprendiz</li>
                      <li><%= image_tag "evaluation/knight.png", size: "20x20" %>Cavaleiro</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                Linguagens e Tecnologias:
                <ul>
                  <li>Nível de 0 a 1000 para:
                    <ul>
                      <li><%= image_tag "language/basic/default.png", size: "20x20" %>Básicas</li>
                      <li><%= image_tag "language/normal/default.png", size: "20x20" %>Normais</li>
                      <li><%= image_tag "language/rare/default.png", size: "20x20" %>Raras</li>
                      <li><%= image_tag "language/special/default.png", size: "20x20" %>Especiais</li>
                    </ul>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ol>

        <div class="text-center">
          <%= image_tag "evoluacao.jpg", size: "300x300", class: "img-fluid" %>
        </div>

        <h2 class="text-capitalize">
          E depois?
        </h2>

        <div class="text-justify">
          <p>Com essas informações conseguirá entender qual é seu nível de conhecimento por tecnologia.</p>
          <p>Podendo decidir qual conhecimento <strong>manter e melhorar</strong>.</p>
          <p>Assim, vamos ajudá-lo <strong>evoluir</strong>.</p>
        </div>

        <div class="text-center">
          <%= image_tag "github-rpg.jpg", size: "300x300", class: "img-fluid" %>
        </div>

      </div>
    </div>
    <div class="col-sm-6 col-md-6 col-lg-6 mx-auto">
      <div class="card card-signin">
        <div class="text-center">
          <h1>As Regras</h1>
        </div>
        <p class="text-capitalize text-center btn btn-warning">
          Em Desenvolvimento <i class="fa fa-exclamation-circle"></i>
        </p>
      </div>
    </div>
    <div class="col-md-12">
      <hr class="my-4">
      <div class="text-center">
        <%= render 'call_to_actions/login_github', message: "Caso tenha interesse em participar dessa aventura." %>

        <div class="row">
          <div class="col-md-6">
            <div class="text-center">
              <h2 class="text-capitalize">Veja quem acessou</h2>
            </div>
            <%= link_to "Conheça os Melhores", rankings_path, class: "btn btn-primary text-uppercase", target: "_blank" %>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <h2 class="text-capitalize">Dúvidas, Críticas e Sugestões</h2>
            </div>
            <div class="col-md-12 text-center">
              <%= link_to "Clique Aqui", new_contact_path, class: "btn btn-primary text-uppercase" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>