<div class="container container-intests-new">
  <% if flash[:notice] %>
    <div class="alert alert-info" role="alert">
      <%= flash[:notice].html_safe %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-lg-6">
      <div class="card card-signin">
        <div class="text-center">
          <h1>Contato</h1>
        </div>
        <%= simple_form_for(@contact) do |f| %>
          <%= f.error_notification %>
          <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

          <div class="form-inputs">
            <%= f.input :name, label: false, placeholder: "* Nome" %>
            <%= f.input :email, label: false, placeholder: "* Email" %>
            <%= f.input :contact_type, label: false, collection: enum_options_for_select(Contact, :contact_type), prompt: "* Tipo", input_html: {class: 'form-control'} %>
            <%= f.input :description, label: false, placeholder: "* Descrição" %>
          </div>

          <div class="form-actions">
            <%= f.submit "Enviar", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="list-group">
        <% @contacts.each do |contact| %>
          <div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= image_tag contact.gravatar_url, :class => "gravatar-new rounded-circle" %> <%= truncate(contact.name.to_s.titlecase, length: 25) %></h5>
              <small><%= enum_i18n(Contact, "contact_type", contact.contact_type) %>
                : <%= l(contact.created_at, format: :short) %></small>
            </div>
            <p class="mb-1"><%= truncate(contact.description, length: 30) %></p>
            <%= link_to contact_path(contact) do %>
              <small class="text-success"><%= contact.response ? "Respondido. Clique e Veja a Resposta" : "" %></small>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <%= paginate @contacts %>
      </div>
    </div>
  </div>
</div>
