<div class="container profile">
  <div class="center-block">
    <div class="row">
      <div class="col-md-12">
        <div class="list-group">
          <div class="list-group-item list-group-item-action flex-column align-items-start mb-2">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= image_tag @contact.gravatar_url, :class => "gravatar-show rounded-circle" %> <%= truncate(@contact.name.to_s.titlecase, length: 25) %></h5>
              <small><%= Contact.human_enum_name(:contact_types, @contact.contact_type) %>
                : <%= l(@contact.created_at, format: :short) %></small>
            </div>
            <p class="mb-1"><%= truncate(@contact.description, length: 30) %></p>
            <p class="mb-1">Resposta:
              <small class="text-success"><%= @contact.response %></small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
