<div class="container container-intests-new">
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
    <div class="card card-signin my-5 justify-content-sm-center text-justify">
      <%= render 'call_to_actions/guide' %>
      <hr class="featurette-divider">
      <div class="text-center">
        <h2 class="text-uppercase">como turbinar meu portfólio</h2>
        <h3 class="text-uppercase">entenda o porque ter o guia</h3>
      </div>
      <p>
      <h3 class="text-uppercase">a decisão</h3>
      </p>
      <p>
        É passo muito importante <strong>querer aumentar sua experiência e evoluir suas habilidades</strong>.
      </p>
      <p>
        Isso é uma decisão para poucos no mercado brasileiro em geral.
      </p>
      <p>
        <%= image_tag "decisao.jpg", class: "img-fluid" %>
      </p>
      <p>
        A grande maioria acredita que o conhecimento da faculdade é o suficiente ou que para evoluir a empresa tem que
        treiná-lo.
      </p>
      <p>
        Para nós do mercado de TI o cenário é bem diferente, pois
        <strong>estudar é para sempre e ser autodidata é um diferencial competitivo</strong>, já que nos economiza tempo
        e dinheiro.
      </p>
      <p>
        Outra vantagem da nossa área é que podemos
        <strong>demonstrar o estudo e uma prática através de um portfólio</strong>, que pode e
        deve ser usado como uma estratégia de marketing.
      </p>
      <p>
        Pense nas dificuldades dos Médicos, Advogado, Engenheiros, Psicólogos e etc.
      </p>
      <h3 class="text-uppercase">o mercado</h3>
      <p>
        Hoje, no Brasil existem mais de <strong>~19,5 mil</strong> empresas no setor de tecnologia, onde
        <strong>~5,1 mil</strong> atuam no Desenvolvimento de Software.
      </p>
      <p>
        Essas empresas de Desenvolvimento de Software são as responsáveis por muitas das vagas de programação.
      </p>
      <p>
        <%= image_tag "mercado.jpg", class: "img-fluid" %>
      </p>
      <p>
        Além dessas empresas existe <strong>um outro tipo que a cada dia nasce uma nova</strong> e que não poderá mais
        terceirizar a TI, por questões estratégicas.
      </p>
      <p>
        Essas empresas são as famosas <strong>startups</strong>.
      </p>
      <p>
        Hoje já existem mais de <strong>12,7 mil</strong> no Brasil e <strong>9 já se tornaram unicórnios</strong> que
        são:
      </p>
      <ul>
        <li>99</li>
        <li>PagSeguro</li>
        <li>Nubank</li>
        <li>Stone</li>
        <li>IFood</li>
        <li>Loggi</li>
        <li>Gympass</li>
        <li>QuintoAndar</li>
        <li>Ebank</li>
      </ul>
      <p>
        <%= image_tag "startup.jpg", class: "img-fluid" %>
      </p>
      <p>
        <code>
          Os unicórnios são startups avaliadas em mais de 1 bilhão de dólares, antes da abertura de capital na bolsa
          de valores.
        </code>
      </p>
      <h3 class="text-uppercase">a tendência</h3>
      <p>
        A tendência é que o número de empresas de <strong>desenvolvimento de software diminuam cada vez mais</strong>,
        pois já é percebido pelos CEOs que a TI é uma parte vital para seu negócio, sendo assim não terceirizável.
      </p>
      <p>
        Todo CEO quer um CTO/CIO com a
        <strong>mentalidade e os conhecimentos necessários para guiar a transformação digital do negócio ou criação de
          um novo negócio</strong>,
        <a href="https://www.google.com/search?client=ubuntu&channel=fs&q=transforma%C3%A7%C3%A3o+digital+magazine+luiza&ie=utf-8&oe=utf-8">exemplo
          caso
          Magazine Luiza.</a>
      </p>
      <p>
        <%= image_tag "tendencia.jpg", class: "img-fluid" %>
      </p>
      <p>
        Não estou dizendo que todos os profissional de TI devam ser CTO/CIO, pois requer muita coragem, além de
        conhecimento.
      </p>
      <p>
        O que é importante deixar claro que para se trabalhar nessa
        <strong>nova equipe a mentalidade e os conhecimentos devem ser muito diferente</strong> do que é ensinado em uma
        faculdade para programador, engenheiro ou líder, e principalmente o que aprendido em empresas tradicionais.
      </p>
      <h3 class="text-uppercase">o preparo</h3>
      <p>
        A pergunta que faço é: 
      <p>
        <strong>Você está preparado para entrar em uma equipe dessa?</strong>
      </p>
      <p>
        <%= image_tag "preparado.jpg", class: "img-fluid" %>
      </p>
      <p>
        Se a resposta for <strong>SIM</strong>.
      </p>
      <p>
        MEUS PARABÉNS!!!
      </p>
      <p>
        Isso significa que você está entre os <strong>20% dos profissionais brasileiros de maior performance</strong> e
        com isso nunca mais lhe faltaram propostas de bons trabalhos.
      </p>
      <p>
        Se a resposta é <strong>NÃO SEI</strong>.
      </p>
      <p>
        Não se preocupe, pois mais de <strong>99% dos profissionais de TI</strong> brasileiros também não sabem. E mais
        de <strong>80% dos profissionais</strong> sem dúvida não estão preparados.
      </p>
      <p>
        Para ficar mais tranquilo responda a pergunta:
        <strong>Reconhece a importância desses itens?</strong>
      </p>
      <ol>
        <li>Saber aprender rápido</li>
        <li>Saber errar rápido e barato</li>
      </ol>
      <p>
        Se souber está no caminho certo.
      </p>
      <h3 class="text-uppercase">o interesse</h3>
      <p>
        Caso você tenha interesse em trabalhar em uma equipe dessa e queira melhorar sua performance profissional.
      </p>
      <p>
        <%= image_tag "interesse.jpg", class: "img-fluid" %>
      </p>
      <p>
        A dica de ouro é: <strong>aprenda a aprender tecnologias</strong>. <code>É tecnologias, no plural mesmo!</code>
      </p>
      <p>
        A melhor forma para aprender, sem dúvida, é praticando.
      </p>
      <p>
        E é muito importante aproveitar essa prática para criar um portfólio com repositórios que
        <strong>comprovem suas capacidades em:</strong>
      <ul>
        <li>Criação de Solução de Software</li>
        <li>Qualidade de Código</li>
        <li>Organização</li>
        <li>Planejamento</li>
        <li>Trabalho em Equipe</li>
        <li>Mente Inovadora/Criativa</li>
      </ul>
      </p>
      <p>
        Ou ainda acredita que currículo e conversa <strong>comprova mais que a ação</strong>?
      </p>
      <p>
        <strong>O portfólio ainda lhe trará uma experiência e habilidades gigantes</strong>, pois é somente com a
        prática que se evolui para Engenheiro de Software de uma startup que os novos CTO/CIO procuram.
      </p>
      <p>
        Caso tenha interesse em saber mais detalhes de como transformar sua carreira, se inscreva abaixa.
      </p>
      <%= render 'call_to_actions/guide' %>
    </div>
  </div>
</div>