<div class="container container-intests-new">
  <div class="col-sm-9 col-md-9 col-lg-9 mx-auto">
    <div class="card card-signin my-5 justify-content-sm-center text-justify">
      <%= render 'call_to_actions/guide' %>
      <hr class="featurette-divider">
      <div class="text-center">
        <h2>Entenda O Porque do Guia</h2>
      </div>
      <h3>A Decisão</h3>
      <p>
        Fico muito feliz por querer aumentar sua experiência e evoluir suas habilidades.
      </p>
      <p>Isso é uma decisão para poucos no mercado brasileiro.</p>
      <%= image_tag "decisao.jpg", class: "img-fluid" %>
      <p>
        Agora vou lhe mostrar um pouco das vantagens de se preparar para um novo mercado que está surgindo.
      </p>
      <h3>O Mercado</h3>
      <p>
        Hoje, no Brasil existem mais de <b>19,5 mil</b> empresas no setor de tecnologia, onde <b>5,1 mil</b> atuam no
        desenvolvimento
        de software.
      </p>
      <p>Essas empresas de desenvolvimento de software são as responsáveis pela maioria das vagas para
        programadores.</p>
      <%= image_tag "mercado.jpg", class: "img-fluid" %>
      <p>Além dessas empresas existe um outro tipo que a cada dia nasce uma nova e que não poderá mais terceirizar a TI,
        por questões estratégicas.</p>
      <p>Essas empresas são as famosas startups.</p>
      <p>Hoje já existem mais de <b>12,7 mil</b> no Brasil e <b>9 já se tornaram unicórnios</b> que são:</p>
      <ul>
        <li>99</li>
        <li>PagSeguro</li>
        <li>Nubank</li>
        <li>Stone</li>
        <li>IFood</li>
        <li>Loggi</li>
        <li>Gympass</li>
        <li>QuintoAndar</li>
        <li>Ebank</li>
      </ul>
      <%= image_tag "startup.jpg", class: "img-fluid" %>
      <p>
        <code>Os unicórnios são startups avaliadas em mais de 1 bilhão de dólares antes da abertura de capital na bolsa
          de
          valores.</code>
      </p>
      <h3>A Tendência</h3>
      <p>A tendência é que as empresas de desenvolvimento de software diminua cada vez mais, pois já é percebido pelos
        CEOs
        que a TI é uma parte vital para seu negócio.</p>
      <p>Todo CEO quer um CTO/CIO com a mentalidade e conhecimento necessários para ajudar na transformação do negócio ou criação de um novo negócio.</p>
      <%= image_tag "tendencia.jpg", class: "img-fluid" %>
      <p>Não estou querendo dizer que você deve ser esse CTO/CIO, pois requer muita coragem, além de conhecimento.
      <p>O que quero dizer é para trabalhar nessa nova equipe a mentalidade e os conhecimentos devem ser muito
        diferente do que é ensinado em uma faculdade para programador, engenheiro ou líder. Ou aprendido em empresas normais.</p>

      <h3>Está Preparado?</h3>
      <p>A pergunta que faço é: 
      <p>
        <strong>Você está preparado para entrar em uma equipe dessa?</strong>
      </p>
      <%= image_tag "preparado.jpg", class: "img-fluid" %>
      <p>Se a resposta é SIM.</p>
      <p>PARABÉNS!!! Isso significa que nunca mais lhe faltaram propostas de bons trabalhos.</p>
      <p>Se a resposta é NÃO SEI.</p>
      <p>Não se preocupe, pois mais de <b>99% dos profissionais de TI </b>brasileiros também não sabem. E mais de <b>80% dos
        profissionais </b>sem dúvida não estão preparados.</p>
      <p>Para ficar mais tranquilo.</p>
      <p>Sabe a importância desse itens?</p>
      <ol>
        <li>Saber aprender rápido</li>
        <li>Saber errar rápido e barato</li>
        <li>Saber sobre negócio</li>
        <li>Saber sobre gestão</li>
        <li>Saber sobre venda</li>
        <li>Saber sobre marketing digital</li>
        <li>Saber sobre tecnologia</li>
      </ol>
      <p>Se souber está no caminho certo.</p>
      <h3>O Interesse</h3>
      <p>Caso você tenha interesse em trabalhar em uma startup.</p>
      <%= image_tag "interesse.jpg", class: "img-fluid" %>
      <p>A dica de ouro é: aprenda a fazer sua venda.</p>
      <p>Deixando claro que se vender não é mentir, mas sim simplesmente mostrar claramente suas habilidades e seu
        potêncial, onde o potêncial é o mais importante.</p>
      <p>E para fazer essa venda o primeiro passo é criar um portfólio com repositórios que comprovem na prática sua
        capacidade nas áreas negocial, gestão, venda e tecnologia para criação de soluções de software.</p>
      <p>Ou você acredita que um currículo ou uma conversa comprova mais que a ação?</p>
      <p>Com um simples portfólio, além de lhe possibilitar ter um gigante argumento de venda.</p>
      <p>O portfólio ainda lhe trará uma experiência e habilidades gigantes, pois é com a prática que se evolui para
        Engenheiro
        de Software de uma startup que os novos CTO/CIO procuram.
      </p>
      <p>Caso tenha interesse em saber mais detalhes de como transformar sua
        carreira e se preparar para esse mercado.</p>
      <%= render 'call_to_actions/guide' %>
    </div>
  </div>
</div>