<% if user.try(:profile) %>
  <% if progress_bar(user) == 100 %>
    <hr class="featurette-divider">
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="row">
            <div class="col-md-12">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                  <small><%= image_tag "evaluation/started.png", size: "30x30" %></small>
                  <div class="h5 mb-1">
                    <strong><%= user.repositories.where("commits_count < 50").count %></strong>
                    projeto(s)
                  </div>
                  <% if user %>
                    <small class="text-muted">
                      com pouco código
                    </small>
                  <% else %>
                    <small class="text-muted"> 0 projeto(s)</small>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                  <small><%= image_tag "evaluation/novice.png", size: "30x30" %></small>
                  <div class="h5" class="mb-1">
                    <strong><%= user.repositories.where("commits_count > 50 and commits_count < 100").count %></strong>
                    projeto(s)
                  </div>
                  <% if user %>
                    <small class="text-muted">
                      com bastante código
                    </small>
                  <% else %>
                    <small class="text-muted"> 0 projeto(s)</small>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                  <small><%= image_tag "evaluation/knight.png", size: "30x30" %></small>
                  <div class="h5" class="mb-1">
                    <strong><%= user.repositories.where("commits_count > 100").count %></strong>
                    projeto(s)
                  </div>
                  <% if user %>
                    <small class="text-muted">
                      com muito código.
                    </small>
                  <% else %>
                    <small class="text-muted"> 0 projeto(s)</small>
                  <% end %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>



