<% if user.try(:profile) %>
  <% if progress_bar(user) == 100 %>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <div class="row">
            <div class="col-md-12">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                  <small><%= image_tag "evaluation/started.png", size: "20x20" %></small>
                  <% if number_small_projects(user) != 0 %>
                    <div class="h5 mb-1">Você tem
                      <strong><%= number_small_projects(user) %></strong>
                      <%= "repositório".pluralize(number_small_projects(user)) %>
                    </div>
                    <small class="text-muted">
                      <%= "pequeno".pluralize(number_small_projects(user)) %>
                    </small>
                  <% else %>
                    <div class="h5 mb-1">
                      Você não tem repositórios
                    </div>
                    <small class="text-muted">
                      pequenos
                    </small>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                  <small><%= image_tag "evaluation/novice.png", size: "20x20" %></small>
                  <% if number_medium_projects(user) != 0 %>
                    <div class="h5 mb-1">Você tem
                      <strong><%= number_medium_projects(user) %></strong>
                      <%= "repositório".pluralize(number_medium_projects(user)) %>
                    </div>
                    <small class="text-muted">
                      <%= "médio".pluralize(number_medium_projects(user)) %>
                    </small>
                  <% else %>
                    <div class="h5 mb-1">
                      Você não tem repositórios
                    </div>
                    <small class="text-muted">
                      médios
                    </small>
                  <% end %>
                </a>
              </div>
            </div>
            <div class="col-md-12">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action flex-column align-items-start mb-2">
                  <small><%= image_tag "evaluation/knight.png", size: "20x20" %></small>
                  <% if number_large_projects(user) != 0 %>
                    <div class="h5 mb-1">Você tem
                      <strong><%= number_large_projects(user) %></strong>
                      <%= "repositório".pluralize(number_large_projects(user)) %>
                    </div>
                    <small class="text-muted">
                      <%= "grande".pluralize(number_large_projects(user)) %>
                    </small>
                  <% else %>
                    <div class="h5 mb-1">
                      Você não tem repositórios
                    </div>
                    <small class="text-muted">
                      grandes
                    </small>
                  <% end %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>



