<div class="bg-perfil">
</div>
<div class="col-md-12">

  <div class="row">
    <div class="col-md-2">
      <div class="h4 text-default">
        <i class="fa fa-user perfis-compare"> Perfis</i>
      </div>
    </div>
    <div class="col-md-5">
      <%= render 'profile', user: @user %>
    </div>
    <div class="col-md-5">
      <%= render 'profile', user: @compared %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-6">
      <div class="h4 text-default">
        <i class="fa fa-laptop"> Seus repositórios</i>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-5">
      <%= render 'repositories', user: @user %>
    </div>
    <div class="col-md-5">
      <%= render 'repositories', user: @compared %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-6">
      <div class="h4 text-default">
        <i class="fa fa-file-code"> Seus conhecimentos</i>
      </div>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-2">
      <div class="h3"><%= image_tag "language/basic/default.png", size: "30x30" %>Básicas</div>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @user, type: :basic %>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @compared, type: :basic %>
    </div>
  </div>
  <hr class="featurette-divider">

  <div class="row">
    <div class="col-md-2">
      <div class="h3"><%= image_tag "language/normal/default.png", size: "30x30" %>Normais</div>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @user, type: :normal %>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @compared, type: :normal %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-2">
      <div class="h3"><%= image_tag "language/rare/default.png", size: "30x30" %>Raras</div>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @user, type: :rare %>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @compared, type: :rare %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-2">
      <div class="h3"><%= image_tag "language/special/default.png", size: "30x30" %>Especiais</div>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @user, type: :special %>
    </div>
    <div class="col-md-5">
      <%= render 'languages', user: @compared, type: :special %>
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row">
    <div class="col-md-12">
      <div class="btn btn-lg btn-block">
        <%= render 'call_to_actions/interest' %>
      </div>
    </div>
  </div>
</div>
