<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @reclamacao.titulo %>
</p>

<p>
  <strong>Descricao:</strong>
  <%= @reclamacao.descricao %>
</p>

<%= link_to 'Edit', edit_reclamacao_path(@reclamacao) %> |
<%= link_to 'Back', reclamacoes_path %>
