<div class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="d-flex w-100 justify-content-between">
    <small>
      <div class="text-primary h3">
        <% if asset_exists? "language/#{knowledge_type(language.description)}/#{language.description.to_s.downcase}.png" %>
          <%= image_tag "language/#{knowledge_type(language.description)}/#{language.description.to_s.downcase}.png", size: "30x30" %>
          <%= language.description.to_s %>
        <% else %>
          <%= image_tag "language/empty.png", size: "30x30" %>
          <%= language.description.to_s %>
        <% end %>
      </div>
    </small>
    <% if knowledge.present? %>
      <small>
        <i class="fa fa-trophy"></i> Seu nível é <strong><%= knowledge.level.to_i %></strong>
      </small>
    <% end %>
  </div>
  <% if knowledge.present? %>
    <div class="d-flex w-100 justify-content-between">
      <small>
        <%= people_higher_level(knowledge) %>
      </small>
    </div>
  <% end %>
  <div class="d-flex w-100 justify-content-between">
    <small>
      <i class="fas fa-gem"> Raridade: <%= enum_i18n(Language, "rarity", language.rarity) %></i>
    </small>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <small>
      <%= people_same_knowledge(language) %>
    </small>
  </div>
  <div class="d-flex w-100 justify-content-between">
    <small>
      <i class="fas fa-dollar-sign"> Tipo de
        Conhecimento: <%= enum_i18n(Language, "knowledge_type", language.knowledge_type) %></i>
    </small>
  </div>
</div>