<div class="container container-intests-new">
  <div class="col-md-12 text-center">
    <div class="h2 text-default text-uppercase">
      <i class="fa fa-laptop"> conhecimentos</i>
    </div>
  </div>
  <%= render 'top_20_knowledge' %>
  <div class="center-block">
    <div class="col-md-12 mx-auto">
      <div class="card card-signin">
        <div class="col-md-12">
          <%= search_form_for @q, url: knowledges_path do |f| %>
            <div class="row justify-content-center">
              <div class="col-md-3">
                <%= f.select :description_eq, options_from_collection_for_select(Language.order(description: :asc), "description", "description", @q.description_eq), {prompt: 'Conhecimento'}, class: "form-control mb-1 mr-1" %>
              </div>
              <div class="col-md-2">
                <%= f.select :knowledge_type_eq, Language.knowledge_types.to_a.map {|k, v| [Language.human_enum_name(:knowledge_types, k), v]}, {prompt: 'Tipo'}, class: "form-control mb-1 mr-1" %>
              </div>
              <div class="col-md-2">
                <%= f.select :rarity_eq, Language.rarities.to_a.map {|k, v| [Language.human_enum_name(:rarities, k), v]}, {prompt: 'Raridade'}, class: "form-control mb-1 mr-1" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-2">
                <%= f.submit "Pesquisar", class: "form-control mb-1 mr-1 btn btn-success" %>
              </div>
              <div class="col-md-2">
                <%= link_to "Cancelar", request.path, class: "form-control mb-1 mr-1 btn btn-info" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row justify-content-center">
        <%= paginate @languages %>
      </div>
      <div class="row justify-content-center">
        <%= page_entries_info @languages %>
      </div>
      <div class="row">
        <% @languages.each do |language| %>
          <div class="col-md-4 text-center">
            <%= render 'language_card', language: language, knowledge: nil %>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <%= paginate @languages %>
      </div>
    </div>
  </div>
</div>