<div class="container container-intests-new" xmlns="http://www.w3.org/1999/html">
  <div class="col-md-12 text-center">
    <div class="h2 text-default">
      <i class="fa fa-laptop"> Meus conhecimentos</i>
    </div>
  </div>
  <div class="center-block">
    <div class="col-md-12 mx-auto">
      <div class="card card-signin">
        <div class="col-md-12">
          <%= search_form_for @q, url: knowledges_user_path do |f| %>
            <div class="row justify-content-center">
              <div class="col-md-3">
                <%= f.select :language_description_eq, options_from_collection_for_select(Language.joins(knowledges: [profile: :user]).where("users.id = ?", current_user.id).order(description: :asc), "description", "description", @q.language_description_eq), {prompt: 'Conhecimento'}, class: "form-control mb-1 mr-1" %>
              </div>
              <div class="col-md-2">
                <%= f.select :language_knowledge_type_eq, Language.knowledge_types.to_a.map {|k, v| [Language.human_enum_name("knowledge_types", k), v]}, {prompt: 'Tipo'}, class: "form-control mb-1 mr-1" %>
              </div>
              <div class="col-md-2">
                <%= f.select :language_rarity_eq, Language.rarities.to_a.map {|k, v| [Language.human_enum_name("rarities", k), v]}, {prompt: 'Raridade'}, class: "form-control mb-1 mr-1" %>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-md-2">
                <%= f.submit "Pesquisar", class: "form-control mb-1 mr-1 btn btn-success" %>
              </div>
              <div class="col-md-2">
                <%= link_to "Cancelar", request.path, class: "form-control mb-1 mr-1 btn btn-info" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <hr class="featurette-divider">
      <div class="row justify-content-center">
        <%= paginate @knowledges %>
      </div>
      <div class="row justify-content-center">
        <%= page_entries_info @knowledges %>
      </div>
      <div class="row">
        <% @knowledges.order(level: :desc).each do |knowledge| %>
          <div class="col-md-4 text-center">
            <%= render 'language_card', language: knowledge.language, knowledge: knowledge %>
          </div>
        <% end %>
      </div>
      <div class="row justify-content-center">
        <%= paginate @knowledges %>
      </div>
    </div>
  </div>
</div>