<!DOCTYPE html>
<html>
<head>
  <title>Desenvolvendo Me</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Desenvolvendo<span style="color:#16181F">Me</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to new_user_path, class: 'nav-link' do %>
              <div class="btn btn-outline-light btn-small">Conheça-se</div>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="https://www.facebook.com/sitedesenvolvendome" target="_blank"><i class="fa fa-facebook-official"></i>Facebook</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.youtube.com/channel/UCp98bXHSc01w8fBfkkgHB1Q" target="_blank"><i class="fa fa-youtube-play"></i>Youtube</a>
          </li>
          <!--          <li class="nav-item">-->
          <!--            <a class="nav-link" href="#" target="_blank"><i class="fa fa-book"></i>Blog</a>-->
          <!--          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
<%= yield %>

<!-- FOOTER -->
<footer class="container">
  <hr class="footer-divider"/>
  <p class="float-right"><a href="#">Ir para Topo</a></p>
  <p>&copy; 2019 DesenvolvendoMe. &middot; <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-152793079-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }

    gtag('js', new Date());

    gtag('config', 'UA-152793079-1');
</script>

</body>
</html>
