<!DOCTYPE html>
<html>
<head>
  <title>Desenvolvendo Me</title>
  <% if "#{params[:controller]}/#{params[:action]}".eql?("compares/show") %>
    <meta name="viewport" content="width=1300"/>
  <% else %>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
  <% end %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <% if check_js(params[:controller], params[:action]) %>
    <%= javascript_pack_tag "#{params[:controller]}/#{params[:action]}", 'data-turbolinks-track': 'reload' %>
  <% end %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet"/>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">Desenvolvendo<span style="color:#16181F">Me</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to compare_new_path, class: "nav-link" do %>
              <i class="fas fa-users"> Perfis</i>
            <% end %>
          </li>

          <li class="nav-item">
            <%= link_to rankings_path, class: "nav-link" do %>
              <i class="fas fa-sort-numeric-up"> Rankings</i>
            <% end %>
          </li>
        </ul>

        <ul class="navbar-nav ml-0">
          <li class="nav-item">
            <%= link_to new_user_path, class: 'nav-link' do %>

              <div class="btn btn-outline-light btn-small text-uppercase"> <i class="fab fa-github"></i> Conheça-se Agora <i class="fas fa-cloud-download-alt"></i></div>
            <% end %>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to new_contact_path, class: "nav-link" do %>
              <i class="fas fa-envelope"> Contato</i>
            <% end %>
          </li>

          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to user_path(current_user.login), class: "nav-link" do %>
                <i class="fas fa-user"> Perfil</i>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to repositories_path, class: "nav-link" do %>
                <i class="fas fa-laptop"> Projetos</i>
              <% end %>
            </li>
            <%= link_to destroy_user_session_path, :method => 'delete', class: "fa- nav-link" do %>
              <i class="fas fa-sign-out-alt"> Sair</i>
            <% end %>
          <% else %>
            <li class="nav-item">
              <%= link_to user_github_omniauth_authorize_path, class: "nav-link" do %>
                <i class="fas fa-sign-in-alt"> Entrar</i>
              <% end %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
<%= yield %>

<!-- FOOTER -->
<footer class="container">
  <hr class="footer-divider"/>
  <div class="col-md-12">
    <p class="float-right">
      <a href="#">Ir para Topo</a>
      <a href="https://www.facebook.com/sitedesenvolvendome" target="_blank"><i class="fa fa-facebook-official"></i>Facebook</a>
      <a href="https://www.youtube.com/channel/UCp98bXHSc01w8fBfkkgHB1Q" target="_blank"><i class="fa fa-youtube-play"></i>Youtube</a>
    </p>
  </div>
  <div class="col-md-12">
    <p>&copy; 2019 DesenvolvendoMe, <%= "#{`git describe --tags --abbrev=0`}" %>. &middot;
      <a href="#">Privacidade</a> &middot; <a href="#">Termos</a></p>
  </div>
</footer>

<% if Rails.env.production? %>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-152793079-1"></script>
  <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
          dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', 'UA-152793079-1');
  </script>
<% end %>
</body>
</html>
